<%= content_tag :div , class: '', id: "wiki-#{wiki.id}" do %>
<div class="media">
  <div class="media-body">
    <h5><%= link_to wiki.title, wiki_path(wiki) %>
      <% if wiki.private_wiki %>
      <small><span class="glyphicon glyphicon-eye-open"></span></small>
      <% end %>
      - <%= time_ago_in_words(wiki.created_at) %> ago
    </h5>
  </div>
</div>
<% end %>
