<div class="panel panel-default panel-wizard col-md-6 col-md-offset-3">
  <h1 align="center">New Wiki</h1>
  <div class="panel-body">
<%= render partial: 'form', locals: {wiki: @wiki} %>
</div>
</div>
