<div class="media">
  <div class="media-body">
    <h1> <%= @wiki.title %></h1>
<p> <%= @wiki.body %></p>

<%= link_to "Edit Wiki", edit_wiki_path, class: 'btn btn-default'%>
<%= link_to "Delete", wiki_path(@wiki), method: 'delete', class: 'btn btn-default' %>
