/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require devise_bootstrap_views
 *= require_tree .
 *= require_self
 */
 @import "normalize";
 @import "bootstrap-sprockets";
  @import "bootstrap";

  .flash-notice {
    text-align: center;
  }
  .center_div{
      margin: 0 auto;
      width:30% /* value of your choice which suits your alignment */
  }
  body {font-family: 'Raleway', sans-serif;}
  .nav li a {font-size: 16px;color: black}

  a {color:#3186ad;}

  .btn-primary,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
      background-color: #3498db;
      border-color: #3498db;
  }
  .btn-info,
  .btn-info:hover,
  .btn-info:active,
  .btn-info:visited,
  .btn-info:focus {
      background-color: #95a5a6;
      border-color: #95a5a6;
  }

  .btn-warning,
  .btn-warning:hover,
  .btn-warning:active,
  .btn-warning:visited,
  .btn-warning:focus {
      background-color: #6ed3cf;
      border-color: #6ed3cf;
  }

  .navbar-brand {
  font-size: 12px;
  border:solid 2px black ;
  padding: 0px;
  margin: 0px;
  content: 0px;

}

.center-links {
text-align:center
}

.wiki_header {border-bottom:1px solid #95a5a6;
text-decoration: none;}
.wiki_header a:hover {color:#7f8c8d;text-decoration: none;}
